*.a
*.log
*.o
*.plist
*.status
*.tmp
*~
.deps
INSTALL
Makefile
Makefile.in
Vagrantfile
aclocal.m4
autom4te.cache
clang_output_*
compile
config.h
config.h.in
configuration-file/pure-config.pl
configuration-file/pure-config.py
configuration-file/pure-ftpd.conf
configure
depcomp
install-sh
man/*.8
missing
puredb/src/example_read
puredb/src/example_write
puredb/src/regression
src/ptracetest
src/pure-authd
src/pure-certd
src/pure-ftpd
src/pure-ftpwho
src/pure-mrtginfo
src/pure-pw
src/pure-pwconvert
src/pure-quotacheck
src/pure-statsdecode
src/pure-uploadscript
stamp-h1
